@font-face {
  font-family: "Monofonto";
  src: url("fonts/Monofonto-Regular.woff2") format("woff2"), url("fonts/Monofonto-Regular.woff") format("woff");
  font-display: block;
  font-style: none;
  font-weigth: 500;
}

*, *::after, *::before {
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
}

html {
  font-family: Verdana, system-ui;
}

html * {
  font-family: inherit;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

h1 {
  font-family: "Monofonto", Roboto, system-ui, serif;
}

a:visited, a:active, a:link {
  color: #eee;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.header {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px 8px;
  background-color: #000066;
  color: #fff;
  text-align: center;

  h1 {
    margin-right: auto;
    margin-left: 2vw;
    font-size: 2rem;
  }

  .links {
    --links-font-size: 1.2rem;
    --links-gaps: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--links-gaps);
    margin-right: 3vw;
    font-size: var(--links-font-size);
  }

  .nav-dropdown {
    display: none;
  }
}

.title {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 40px 20px;
  background-color: lightgrey;
  min-height: 300px;

  .text {
    max-width: 40vw;
    h2 {
      margin-bottom: 20px;
      font-size: 3rem;
    }
    
    p {
      font-size: 1.2rem;
    }
  }

  img {
    width: 300px;
    height: auto;
  }
}

.main-content {
  margin-top: 20px;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 2vw;
  margin: 20px 2vw;

  & > a {
    cursor: pointer;
    color: black;

    width: 450px;
  }

  & > a > h3 {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    text-align: center;
    height: 228px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(255 255 255 / 0.6);
    background-blend-mode: lighten;

    border-bottom: 2px solid black;
  }

  & > a > p {
    text-align: center;
    margin: 1rem 0px;
    padding: 0px 5px;
  }

  & > * {
    border: 5px solid black;
    border-radius: 5px;

    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 0 0 15px #0000ff;
    }
  }
    
  .odin-recipes h3 { background-image: url("images/odin/recipes.png"); }
  .odin-landing-page h3 { background-image: url("images/odin/landing-page.png"); }
  .odin-rock-paper-scissors h3 { background-image: url("images/odin/rock-paper-scissors.png"); }
  .odin-etch-a-sketch h3 { background-image: url("images/odin/etch-a-sketch.png"); }
  .odin-calculator h3 { background-image: url("images/odin/calculator.png"); }
  .odin-sign-up-form h3 { background-image: url("images/odin/sign-up-form.png"); }

  .learning-regex h3 { background-image: url("images/learning/regex.png"); }
  .learning-forms h3 { background-image: url("images/learning/forms.png"); }

  .other-stopwatch h3 { background-image: url("images/other/stopwatch.png"); }
  .other-3-letters h3 { background-image: url("images/other/3-letters.png"); }

  .games-minesweeper h3 { background-image: url("images/games/minesweeper.png"); }
  .games-countdown h3 { background-image: url("images/games/countdown.png"); }
}

.random {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

  button {
    cursor: pointer;
    padding: 6px 12px;
    background-color: #444;
    color: #ddd;
    border: thin solid black;
    border-radius: 2px;
    text-align: center;
    font-size: 1.5rem;
    transition: 0.3s;
    max-width: 80vw;

    &:hover {
      background-color: #555; 
      color: #eee;
    }

    &:active {
      background-color: #666;
      color: #fff;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  text-align: center;

  color: white;
  background-color: #000066;
  font-size: 1.2rem;
  padding: 15px 8px;
  & > * {
    margin: 0px 40px;
  }
  img {
    position: relative;
    top: 0.3rem;
    width: 1.4rem;
    height: auto;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    position: static;
    flex-direction: column;

    h1 {
      margin: auto;
      margin-bottom: 20px;
    }

    .links {
      margin-right: 0px;
    }
  }

  .cards {
    gap: 40px;

    & > a {
      width: 70vw;
    }

    & > a > h3 {
      height: 35.5vw;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    position: static;
    gap: 20px;

    h1 {
      margin-bottom: 0px;
    }

    .links {
      flex-direction: column;
      gap: 20px;
      max-height: 0px;
      transition: max-height 0.3s ease-out;
      overflow: hidden;

      &.open {
        max-height: calc(var(--links-font-size) * 4 + var(--links-gaps) * 3);
        display: flex;
      }
    }

    .nav-dropdown {
      display: inline-block;
      background-color: transparent;
      border: none;
      width: 40px;
      height: 20px;
      rotate: 0deg;

      transition: rotate 0.2s;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .footer {
    flex-direction: column;
    gap: 20px;
  }

  .title {
    flex-direction: column;
    gap: 40px;

    .text {
      max-width: 80vw;
    }
  }

  .cards {
    & > a {
      width: 80vw;
    }

    & > a > h3 {
      height: 40.5vw;
    }
  }
}
